.list{
    color:black;
    width: 300px;
    background-color: #eb7adf;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    justify-content: space-between;
}
.list p{
    padding: 10px;
    font-size: 20px;
    position: relative;
}
.delete_btn{
    position: absolute;
    padding: 15px;
    cursor: pointer;
    float: right;
}
